img {
  max-width: 100%;
}

ul li {
  font-size: 16px;
}

p {
  font-size: 16px;
  margin-bottom: 8px;
}

.page {
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.article-wrapper {
  padding: 0 24px 24px;
}

.article {
  padding: 24px;
  background-color: #fff;
  min-height: auto !important;
}

.article-item {
  display: block;
  margin-bottom: 16px;
}

.article-item:hover .article-item-title {
  color: #1890ff;
}

.article-title {
  font-size: 24px;
  line-height: 28px;
}

.article-date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 8px;
}

.article-item-title {
  font-size: 20px;
  line-height: 22px;
}

.article-description {
  color: rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-image {
  margin-bottom: 16px;
}

.article-body {
  font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
